/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 ene. 2023, 18:45:31
    Author     : fmlaq
*/

body {
    background-image: url("../img/fondo.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}

li:hover {
    background: #3EAD47;
}

.content {
    margin-top: 50px;
}

.contenedor {
    margin: 20px auto;
    width: 350px;
    background-color: #EEEEEE;
    border-radius: 20px;
    text-align: center;
    border: solid 2px green;
}

h1 {
    margin: 0 auto;
    width: 150px;
    text-align: center;
    background-color: #EEEEEE;
    border: solid 2px green;
    color: green;
}

#infoPel {
    margin: 0 auto;
    width: 250px;
    text-align: center;
    background-color: #EEEEEE;
    border: solid 2px green;
    color: green;
}

#descrip {
    margin: 0 auto;
    padding: 5px 5px;
    width: 400px;
    height: auto;
    text-align: center;
    background-color: #EEEEEE;
    color: green;
    border: solid 2px green;
    opacity: 95%;
}

#cajaBuscador {
    margin: 0 auto;
    padding: 10px;
    width: 250px;
    background-color: #EEEEEE;
    border: solid 2px green;
    border-radius: 20px;
    color: green;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: space-evenly;
}

.card {
    width: 300px;
    background-color: #EEEEEE;
    border: solid 2px green;
    border-radius: 20px;
    color: green;
}

img {
    margin-top: 10px;
    width: 240px;
    height: 355px;
    border-radius: 20px;
}

.texto {
    text-align:center;
}

img:hover {
    transform: scale(1.05,1.05);
}